

.order-footer-item div[name=Col_1]{
    text-align: right;
}


.prod-table img{
    width: 96px;
}

.prod-table thead{
    visibility: hidden;
}

.prod-table tbody tr td:nth-child(3), .prod-table tbody tr td:nth-child(4){
    vertical-align: middle;
    text-align: right;
}

.prod-table tbody tr td:nth-child(2){
    vertical-align: middle;
}

.prod-table tbody tr td:nth-child(4){
    width: 80px;
}

.prod-table tbody tr td:nth-child(3){
    width: 100px;
}
.prod-table tbody tr td:nth-child(5){
    width: 100px;
    vertical-align: middle;
    text-align: right;
}

.debug{
    display: none;
}