<nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
      <a class="navbar-brand" href="#">Add Product</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto" style="visibility:hidden">
          
        </ul>
        <div>
         <button class="btn my-2 my-sm-0" name="cancel">Cancel</button>
          <button class="btn btn-success my-2 my-sm-0" name="save">Save</button>
        </form>
      </div>
    </nav>